//----------------------------------------------------------
// MDL elements customization
//----------------------------------------------------------

.mdl-menu--headerWrapper {
    position: relative;
    right: 15px;
    margin-left: 24px;
}