//----------------------------------------------------------
// Layout config
//----------------------------------------------------------
$font-size-default: 10px;
$font-family-default: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$line-height-default: 18px;